<div id="wrapper-container">
	<div id="uploadPhotoWrapper">
		<div class="panel panel-default upload-panel">
			<!-- HEAD -->
			<div class="panel-heading panel-heading-primary">
				<h3 class="panel-title"><strong>Upload photo</strong></h3>
			</div>

			<!-- BODY -->
			<div class="panel-body">
				<div id="uploadPhotoFormContainer">
					<div id="uploadOptions" class="form-inline">
						<form name="uploadForm" ng-controller="UploadController as uploadCtrl">
							<div class="form-group">
								<input type="file" id="uploadedPhoto" file-model="uploadedPhoto" class="file-input-secondary-style-normal">
							</div>

							<div class="form-group">
								<input type="submit" class="secondary-style-button-sm" value="Upload" ng-click="uploadFile()">
							</div>
						</form>
					</div>

					
					<button class="tertiary-style-button-xs" role="button" 
							data-toggle="collapse" 
							data-target="#photoCollapseContainer" 
							aria-expanded="false" 
							aria-controls="photoCollapseContainer"
							tooltip-placement="right"
							tooltip-trigger="'mouseenter'"
							uib-tooltip="Click to preview uploaded photo">
  						Preview
					</button>

					<div class="collapse" id="photoCollapseContainer">
						<div class="well" id="photoContent">

						</div>
					</div>						
					
				</div>
			</div>

			<!-- FOOTER -->
		  	<div class="panel-footer" ng-controller="RedirectToController as redirectToCtrl">
		  		<span>
		  			<a href  ng-click="redirectToCtrl.redirectTo('/home.customer')" style="text-decoration: none;">
		  				SKIP <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		  			</a>
		  			<br>
		  			<small>you can upload a photo later</small> 
		  		</span>
		  	</div>
		</div>
	</div>
</div>


<script type="text/javascript-lazy">
	$(document).ready(function(){
		$("#uploadedPhoto").change(function(){
    		readURL(this);
    		//console.log("Worked");
		});
	});
</script>