<div id="wrapper-container">
	<div id="signupWrapper" ng-controller="InputAnimationController-signupViewModule as animationCtrl">
		<div class="panel panel-default signup-panel panel-primary-style">
		  	<!-- HEAD -->
		  	<div class="panel-heading panel-heading-primary">
		    	<h3 class="panel-title"><strong>SIGN UP</strong></h3>
		  	</div>

		  	<!-- BODY -->
		  	<div class="panel-body">
		  		<div id="signupFormContainer">
		  			<form name="signupForm" ng-controller="SignupController as signupCtrl" ng-submit="signupForm.$valid && signupCtrl.signup()" novalidate>
		  				<!-- Email -->
		  				<div class="form-group"> 
		  					<label for="email">{{animationCtrl.emailLabel}}</label>
		  					<input type="email" class="borderless-input-style" 
		  						placeholder="Email" 
		  						id="email" 
		  						name="email"
		  						required
		  						ng-model="signupCtrl.signupObj.email"
		  						ng-focus="animationCtrl.showLabelOnClickForInput('email')" ng-blur="animationCtrl.resetLabelOnClickForInput('email')" 
		  						tooltip-placement="right"
		  						tooltip-trigger="'blur'"
		  						tooltip-enable="{{(signupForm.email.$dirty && signupForm.email.$error.email) || (signupForm.email.$dirty && signupForm.email.$error.required)}}" 
		  						uib-tooltip="Invalid email address.">
		  				</div>

		  				

		  				<!-- Password -->
		  				<div class="form-group">
		  					<label for="password">{{animationCtrl.passwordLabel}}</label>
		  					<input type="password" class="borderless-input-style" 
		  						placeholder="Password" 
		  						id="password"
		  						name="password"
		  						required 
		  						ng-model="signupCtrl.signupObj.password"
		  						ng-focus="animationCtrl.showLabelOnClickForInput('password')" ng-blur="animationCtrl.resetLabelOnClickForInput('password')"
		  						tooltip-placement="right"
		  						tooltip-trigger="'blur'"
		  						tooltip-enable="{{(signupForm.password.$dirty && signupForm.password.$error.required)}}"
		  						uib-tooltip="Field required">
		  				</div>

		  				

		  				<!-- Retype password -->
		  				<div class="form-group">
		  					<label for="retyped-password">{{animationCtrl.retypePasswordLabel}}</label>
		  					<input type="password" class="borderless-input-style" 
		  						placeholder="Retype Password" 
		  						id="retypedpassword"
		  						name="retypedpassword"
		  						required 
		  						ng-model="retypedpassword"
		  						ng-focus="animationCtrl.showLabelOnClickForInput('retype password')" ng-blur="animationCtrl.resetLabelOnClickForInput('retype password')"
		  						password-match="password"
		  						tooltip-placement="right"
		  						tooltip-trigger="'blur'"
		  						tooltip-enable="{{signupForm.retypedpassword.$dirty && signupForm.retypedpassword.$error.match}}"
		  						uib-tooltip="Password doesn't match"
		  						>
		  				</div>

		  				

		  				<!-- First Name -->
		  				<div class="form-group">
		  					<label for="firstname">{{animationCtrl.firstNameLabel}}</label>
		  					<input type="text" class="borderless-input-style" 
		  						placeholder="First Name" 
		  						id="firstname"
		  						name="firstname"
		  						required
		  						ng-model="signupCtrl.signupObj.firstName"
		  						ng-focus="animationCtrl.showLabelOnClickForInput('first name')" ng-blur="animationCtrl.resetLabelOnClickForInput('first name')"
		  						tooltip-placement="right"
		  						tooltip-trigger="'blur'"
		  						tooltip-enable="{{signupForm.firstname.$dirty && signupForm.firstname.$error.required}}"
		  						uib-tooltip="Field required">
		  				</div>

		  				

		  				<!-- Last Name-->
		  				<div class="form-group">
		  					<label for="lastname">{{animationCtrl.lastNameLabel}}</label>
		  					<input type="text" class="borderless-input-style" 
		  						placeholder="Last Name" 
		  						id="lastname"
		  						name="lastname"
		  						required
		  						ng-model="signupCtrl.signupObj.lastName"
		  						ng-focus="animationCtrl.showLabelOnClickForInput('last name')" ng-blur="animationCtrl.resetLabelOnClickForInput('last name')"
		  						tooltip-placement="right"
		  						tooltip-trigger="'blur'"
		  						tooltip-enable="{{signupForm.lastname.$dirty && signupForm.lastname.$error.required}}"
		  						uib-tooltip="Field required">
		  				</div>		  

		  				

		  				<!-- Phone -->		  				
		  				<div id="phoneContainer">
							<div class="form-group">
								<ul id="phone-group-labels">
			  						<li><label for="phone-prefix">Pref.</label></li>
			  						<li><label for="phone">{{animationCtrl.phoneLabel}}</label></li>
			  					</ul>

			  					<ul id="phone-group-inputs">
			  						<li><input type="text" ng-model="signupCtrl.phonePrefix" readonly id="phone-prefix" class="borderless-input-style"></li>
			  						<li>
			  							<input type="text" class="borderless-input-style" min="0" 
			  								placeholder="Phone" 
			  								id="phone"
			  								name="phone"
			  								required
			  								ng-model="signupCtrl.signupObj.phoneNr"
			  								ng-focus="animationCtrl.showLabelOnClickForInput('phone')" ng-blur="animationCtrl.resetLabelOnClickForInput('phone')"
			  								phone-validation="phoneNr"
			  								tooltip-placement="right"
			  								tooltip-trigger="'blur'"
			  								tooltip-enable="{{signupForm.phone.$dirty && signupForm.phone.$error.valid}}"
			  								uib-tooltip="Invalid phone number">
			  						</li>
			  					</ul>
			  				</div>
		  				</div>
		  				
		  				

		  				<!-- Primary Address -->
		  				<div id="addressContainer">
			  				<div class="form-group">
			  					<label for="primaryaddress">{{animationCtrl.primaryAddressLabel}}</label>
			  					<input type="text" class="borderless-input-style" 
			  						placeholder="Primary Address" 
			  						id="primaryaddress"
			  						name="primaryaddress"
			  						required
			  						ng-model="signupCtrl.addressDescription"
			  						ng-focus="animationCtrl.showLabelOnClickForInput('primary address')" ng-blur="animationCtrl.resetLabelOnClickForInput('primary address')"
			  						tooltip-placement="right"
			  						tooltip-trigger="'blur'"
			  						tooltip-enable="{{signupForm.primaryaddress.$dirty && signupForm.primaryaddress.$error.required}}"
			  						uib-tooltip="Field required">

			  					<br><br>

			  					<label for="county">Select County</label>
			  					<select style="width: 90%" class="select-input-primary-style-normal" 
			  						id="county"
			  						name="county" 
			  						ng-model="signupCtrl.selected_county"
			  						ng-change="signupCtrl.addressCounty = signupCtrl.selected_county.value"
			  						ng-options="c.value for c in signupCtrl.county_list"
			  						ng-click="signupCtrl.populateCitiesDropdown()">
			  					</select>

			  					<br><br>

			  					<label for="city">Select City</label>
			  					<select style="width: 90%" class="select-input-primary-style-normal" 
			  						id="city"
			  						ng-model="signupCtrl.selected_city"
			  						ng-change="signupCtrl.addressCity = signupCtrl.selected_city.value"
			  						ng-options="c.value for c in signupCtrl.city_list">
			  					</select>

			  					<br><br>

			  					<!-- Add another address modal -->
								<div ng-controller="ModalController as modalCtrl">
								    <script type="text/ng-template" id="addressModel.html">
								        <div class="modal-header">
								            <h3 class="modal-title" id="modal-title">Im a modal!</h3>
								        </div>
								        <div class="modal-body" id="modal-body">
								            Selected:
								        </div>
								        <div class="modal-footer">
								            <button class="btn btn-primary" type="button" ng-click="modalInstanceCtrl.ok()">OK</button>
								            <button class="btn btn-warning" type="button" ng-click="modalInstanceCtrl.cancel()">Cancel</button>
								        </div>
								    </script>

								    <!-- Button to open a modal in order to add other address -->
								    <button type="button" class="rounded-primary-style-button-sm" 
				  							id="addMoreAddressesBtn"
				  							tooltip-placement="right" 
					    		 			tooltip-trigger="'mouseenter'"
					    		 			uib-tooltip="Add other address"
					    		 			ng-click="signupCtrl.addAddress()">
			  							<i class="fa fa-plus" aria-hidden="true"></i>
			  						</button>
								</div>	
								<!-- end of modal -->

			  				</div>
		  				</div>

		  				<br>

		  				<!-- Submit button -->
		  				<input type="submit" value="SUBMIT" class="secondary-style-button-lg">

		  			</form>
		  		</div>
		  	</div>

		  	<!-- FOOTER -->
		  	<div class="panel-footer" ng-controller="RedirectToController as redirectToCtrl">
		  		<span>
		  			<small>Already have an account ?</small>
		  			<a href ng-click="redirectToCtrl.redirectTo('/login')">LOGIN</a> 
		  		</span>
		  	</div>
		</div>
	</div>
</div>
