<style type="text/css">
	#tmp-profile-image-container{
		width: 220px;
		height: 220px;
		float: left;
		background-color: orange;
		margin-top: 15px;
		margin-left: 20px;
	}	

	#tmp-profile-image{
		width: 100%;
		height: 100%;
	}

	#tmp-left-sidebar{
		width: 300px;
		height: 100%;
		float: left;
		background-color: yellow;
	}

	#profile-content-area{
		height: 100%;
		float: left;
		background-color: green;
	}

	#tmp-profile-details-container{
		width: 400px;
		height: 300px;
		float: left;
		margin-top: 15px;
		margin-left: 10px;
		background-color: orange;
		font-family: 'Open Sans', sans-serif;
	}

	 .input-form-style{
    	width: 220px !important;
    	height: 30px;
    }

	.height-100{
		height: 100px;
	}

    #home-tab {
        height: 200px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #8b211e;
    }

    #address-tab{
        height: 200px;
        background-color: #31708f;
    }

</style>


<div id="tmp-left-sidebar">

</div>

<div id="profile-content-area">
	<div id="tmp-profile-image-container">
		<img src="../assets/img/user-default.png" id="tmp-profile-image">
	</div>

	<div id="tmp-profile-details-container">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="" data-target="#home-tab">Email&Password</a></li>
            <li><a data-toggle="tab" href="" data-target="#address-tab">Address</a></li>
            <li><a data-toggle="tab" href="" data-target="#contact-tab">Contact</a></li>
        </ul>

        <div class="tab-content">
            <div id="home-tab" class="tab-pane fade in active">

                <form>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>

            <div id="address-tab" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="contact-tab" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>

	</div>     <!-- END of tmp-profile-details-container -->
</div>


<script type="text/javascript">
		$(window).resize(function(){

		   var profileContentAreaWidth = $("#main-area").width() - $("#tmp-left-sidebar").width() - 2;
		   $("#profile-content-area").width(profileContentAreaWidth);

		})

		$(window).resize(); //on page load
</script>