
#wrapper-container{
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    /*background-color: rgb(248,177,149);*/
}

.login-panel{
	width: 100%;
	height: 100%;
	border-radius: 0px !important;
}

.panel-title{
	font-size: 30px !important;
	height: 50px !important;
}

.panel-heading-primary{
	font-family: 'Open Sans', sans-serif !important;
	background-color: #ff5252 !important;
	color: #FFFFFF !important;
	/*font-weight: 800 !important;*/
	border-radius: 0px !important;
	padding-top: 15px !important;
	padding-left: 50px !important;
}

.panel-primary-style{
	border: 1px solid  #ff5252 !important;
}


.panel-footer{
	text-align: center !important;
}


#loginWrapper{
	width: 500px;
	height: 400px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#loginFormContainer{
	width: 100%;
	height: 100%;
	float: left;
	padding-left: 40px;
	padding-right: 40px;	
	padding-top: 20px;
}


#loginButton{
	width: 150px !important;
}

@media screen and (max-width: 550px){
	body{
		background-color: pink;
	}

	#loginWrapper{
		width: 100%;
	}

	.panel-primary-style{
		border: 1px solid  #FFFFFF !important;
	}

}