.borderless-input-style{
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0px !important;
	width: 100%;

}

.borderless-input-style:focus{
	outline: none; !important;
	border-bottom-color: #ff5252;
	transition: 1s;
	/*border-color: transparent !important;*/
}

.borderless-input-style:focus::-webkit-input-placeholder { color:transparent; }
.borderless-input-style:focus:-moz-placeholder { color:transparent; }


.select-input-primary-style-normal{
	height: 30px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #ff5252;
}

.select-input-primary-style-normal:focus{
	border-color: #ff5252;	
}

