.primary-style-button-lg{
	background-color: #ff5252;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 50px;
	padding: 10px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
}

.primary-style-button-sm{
	background-color: #ff5252;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 40px;
	padding: 8px 8px 8px 8px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	font-size: 14px;
}

.primary-style-button-xs{
	background-color: #ff5252;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 30px;
	padding: 6px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
}


.primary-style-button-sm:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	transition-duration: 0.3s;
}



.secondary-style-button-lg{
	background-color: #4484CE;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 50px;
	padding: 10px 10px 10px 10px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	font-size: 18px;
}

.secondary-style-button-sm{
	background-color: #4484CE;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 40px;
	padding: 8px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	font-size: 14px;
}

.secondary-style-button-xs{
	background-color: #4484CE;
	color: #FFFFFF;
	text-align: center;
	border: 0px;
	height: 30px;
	padding: 6px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
}


.secondary-style-button-sm:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	transition-duration: 0.5s;
}

.secondary-style-button-lg:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	transition-duration: 0.3s;
}







