
.navbar-menu{
	height: 100px !important;
	padding-top: 20px !important;
	border-radius: 0px !important;
	position: fixed;
	width: 100%;
}

.navbar-font-style{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.navbar-right li{
	/*padding-left: 3px !important;*/
}

.brand-text-style{
	font-family: 'Amatic SC', cursive !important;
	font-size: 40px;
}

.active-navbar-element{
	color: #ff5252 !important;
	padding-bottom: 3px !important;
	font-weight: 800;
	border-bottom: 5px solid #ff5252;
}

#signupButton{
	margin-top: 5px !important;
}

#signinLink{
	color: #4484CE;
}


/**************** Media queries ***************/
@media screen and (max-width: 800px) {
    body{
    	background-color: pink;
    }

    .navbar-menu {
        height: 80px !important;
    }

    .navbar-collapse{
		background-color: #F4F4F4 !important;
	}

	#signupButton{
		margin-left: 15px !important;
	}

	.navbar-nav-options{
		padding-left: 5px;
	}



}


/************ Hover effects ***********/
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 3px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 3px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}