
<nav class="navbar navbar-default navbar-menu" ng-controller="NavbarHomeController as navbarHomeCtrl">
  <div class="container">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand brand-text-style" href>
	      	<strong>SBOX</strong>
	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav navbar-font-style navbar-nav-options">
	        <li><a href ng-click="navbarHomeCtrl.setOptionSelected(1)" ng-class="{'active-navbar-element' : navbarHomeCtrl.isOptionSelected(1)}">HOME</a></li>
	        <li><a href ng-click="navbarHomeCtrl.setOptionSelected(2)" ng-class="{'active-navbar-element' : navbarHomeCtrl.isOptionSelected(2)}">CATEGORIES</a></li>
	        <li><a href ng-click="navbarHomeCtrl.setOptionSelected(3)" ng-class="{'active-navbar-element' : navbarHomeCtrl.isOptionSelected(3)}">ABOUT</a></li>
	        <li><a href ng-click="navbarHomeCtrl.setOptionSelected(4)" ng-class="{'active-navbar-element' : navbarHomeCtrl.isOptionSelected(4)}">PRICING</a></li>
	      </ul>

	      <ul class="nav navbar-nav navbar-right" ng-controller="RedirectToController as redirectToCtrl">
	        <li class="cl-effect-1"><a href ng-click="redirectToCtrl.redirectTo('/login')" id="signinLink">SIGN IN</a></li>
	        <li><button class="primary-style-button-sm navbar-btn" id="signupButton" ng-click="redirectToCtrl.redirectTo('/signup')">SIGN UP</button></li>
	      </ul>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
  </div>
</nav>


<!-- Content -->
<div class="description-jumbotron">
	<div class="container">
		<div class="jumbotron flat-jumbotron">
			<h1>Hello, world!</h1>
			<p>...</p>
			<p><button class="secondary-style-button-lg">REGISTER TODAY <i class="fa fa-angle-right" aria-hidden="true"></i></button></p>
		</div>
	</div>
</div>

<div class="general-panel">
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6" style="background-color: ;">
					<div class="general-panel-tab">
                        <a href>
                            <div class="panel panel-default transition-effect-panel panel-primary-style">
                                <div class="panel-heading panel-heading-primary">
                                    <h3 class="panel-title">
                                        <strong>CUSTOMER</strong>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <img src="assets/icons/User_80.png"> <span class="badge badge-free">FREE</span>
                                    <div class="list-group accessability-list">
                                        <span  class="list-group-item"><i class="fa fa-list-ul" aria-hidden="true"></i> Free access to all available categories</span>
                                        <span  class="list-group-item"><i class="fa fa-search" aria-hidden="true"></i> Free access to search services from every category</span>
                                        <span  class="list-group-item"><i class="fa fa-users" aria-hidden="true"></i> Free access to all service providers</span>
                                    </div>
                                </div>
                            </div>
                        </a>
					</div>
				</div>
				<div class="col-md-6" style="background-color: ;">
					<div class="general-panel-tab">
                        <div class="general-panel-tab">
                            <a href>
                                <div class="panel panel-default transition-effect-panel panel-secondary-style">
                                    <div class="panel-heading panel-heading-secondary">
                                        <h3 class="panel-title">
                                            <strong>PROVIDER</strong>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <img src="assets/icons/Sell_80.png"> <span class="badge badge-pro">PRO</span>
                                        <div class="list-group accessability-list">
                                            <span  class="list-group-item"><i class="fa fa-pencil" aria-hidden="true"></i> Customizable service list for every category</span>
                                            <span  class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> Only {{25 | currency}} per month to gain full access to all functionalities</span>
                                            <span  class="list-group-item"><i class="fa fa-money" aria-hidden="true"></i> Monetize your business</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

