	#top-banner{
		width: 100%;
		height: 150px;
		position: absolute;
		background-color: #f6f9fc;
		border-bottom: 1px solid #2895F1;
	}

	#upload-image-container{
		width: 500px;
		height: 400px;
		position:relative;
		top:50px;
	}

	#upload-image-card{
		width: 100%;
		height: 100%;
		text-align: center;
		-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
	}	

	h1,h2,h3,h4,h4,h6 {
		font-family: 'Montserrat', sans-serif;
	}

    .btn{
      font-family: 'Raleway', sans-serif !important;
      background-color: #f6f9fc;
    }

    .btn:focus {
      outline: none;
    }


    a{
      font-family: 'Lato', sans-serif;
    }

    #image-preview-container{
    	width: 100%;
    	height: 200px;
    	float: left;
    }

    #left-side{
    	width: 50%;
    	height: 100%;
    	float: left;
    	text-align: left;
    }

    #right-side{
    	width: 50%;
    	height: 100%;
    	float: left;
    }